<% content_for :body_content_title do %>
  <% if @recommendation.photo.present? %>  
        <%= image_fu @recommendation.photo, '150x' %>
  <% end %>
    
  <%= @recommendation.name %>

  <% if @recommendation.role.present? %>
      <small> (<%= @recommendation.role %>)</small>
  <% end %>
  <% if @recommendation.company.present? %>
      <% if @recommendation.company_url.present? %>
       <small><%= link_to @recommendation.company, @recommendation.company_url %></small>
       <% else %>
        <small>    <%=raw @recommendation.company %> </small>
       <% end %>
  <% end %>
<% end %>


<% content_for :body do %>
  <article class="recommendation_item">
      <small><%= l(@recommendation.publish_date, :format => :long) %></small>
    <% if @recommendation.source_url.present? %>
        <small><%= link_to "Orginal source link", @recommendation.source_url %></small>
    <% end %>  
    
    <%= @recommendation.description.html_safe %>

    <p>
      <%= link_to t('.back_to_index'), refinery.recommendations_recommendation_path %>
    </p>
        
    <%#=raw @recommendation.youtube_id %>

</article>
<% end %>

<% content_for :body_content_right do %>

<% end %>

<%# content_for :side_body, render(:partial => 'latest') %>

<%= render '/refinery/content_page' %>






