<% content_for :body_content_title do %>
  <% if @recommendation.photo.present? %>  
        <%= image_fu @recommendation.photo, '150x' %>
  <% end %>
    
  <%= @recommendation.name %>

  <% if @recommendation.role.present? %>
      <small> (<%= @recommendation.role %>)</small>
  <% end %>
  <% if @recommendation.company.present? %>
      <% if @recommendation.company_url.present? %>
       <small><%= link_to @recommendation.company, @recommendation.company_url %></small>
       <% else %>
        <small>    <%=raw @recommendation.company %> </small>
       <% end %>
  <% end %>
<% end %>


<% content_for :body do %>
     <%= render 'item', :recommendation => @recommendation %>

    <p>
      <%= link_to t('.back_to_index'), refinery.recommendations_recommendation_path %>
    </p>
        
    <%#=raw @recommendation.youtube_id %>

<% end %>

<%= render '/refinery/content_page' %>






